* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    background: #222222;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
}

.navbar .content {
    /* text-align: center; */
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.navbar .logo {
    height: 120px;
    cursor: pointer;
    position: relative;
}

.navbar .menu-list {
    max-width: 100%;
    margin: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
}

.menu-list li {
    list-style: none;
    margin-left: 25px;
    color: #fff;
    font-size: min(3.73vw, 30px);
}

nav ul li:hover {
    color: #ffe493;
    cursor: pointer;
}

.banner {
    height: 100vh;
    background: url("background.jpg");
}